<h1>End Trip</h1>

<form action="/trips/endtrip" method="post">
Longitude: <input type="number" name="long_final" step="0.00001" required> <br>
Latitude: <input type="number" name="lat_final" step="0.00001" required> <br>
Time(minutes): <input type="number" name="time" min="1" required> <br>
<input name="trip_id" type="hidden" value="<%=@trip.id %>">
<input type="submit" value="Finish">
</form>
