<h1>New trip</h1>

<form action="/trips/create" method="post">
Driver: <select name="driver_id">
    <% @drivers.each do |driver| %>
      <option value="<%=driver.id%>" ><%= driver.username %></option>
    <% end %>
</select> <br>
Longitude: <input type="number" name="long_start" step="0.00001" required> <br>
Latitude: <input type="number" name="lat_start" step="0.00001" required> <br>
<input name="rider_id" type="hidden" step="0.00001" value="<%=@user.id %>">
<input type="submit" value="Start">
</form>
