<h1>Soy un Usuario</h1>
<div id="app">
  {{ message }}
</div>

<form>
  <script
    src="https://checkout.wompi.co/widget.js"
    data-render="button"
    data-public-key="pub_test_qNOFHwVSZ4MTh2GLOaWaeUqkGMS4aKvY"
    data-currency="COP"
    data-amount-in-cents="4950000"
    data-reference="4XMPGKWWPKWQ"
    >
  </script>
</form>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hola Vue!'
    }
  })

</script>
