<!DOCTYPE html>
<html>
  <head>
    <title>trip with umbrella</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>

    <div class="container">    

      <%= yield %>
    </div>

  </body>
</html>
